body {
  background: #000000;
  font-family: "Trebuchet", helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  color: white;
  display: inline-block;
  margin: 5rem;
}

.intro-gyro-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
}

.intro-gyro {
  background-repeat: no-repeat;
  background-size: contain;
  height: 256px;
  width: 256px;
}
